#ship {
  height: 80px;
  width: 68px;
  position: absolute;
  z-index: 1;
}

body {
    background-image: url("../images/endor-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center center;
}

#explosion {
  background-color: black;
  height: 80px;
  position: absolute;
  width: 68px;
  z-index: 1;
}

img {
    border-radius: 8px;
}

#view {
  background-image: url("../images/star-backdrop.gif");
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  rotation-point:50% 50%;
  rotation:180deg;
}

.wormhole {
  width: 200px;
  height: 20px;
  background-image: url("../images/wormholepulse-200-20.jpg");
  position: absolute;
}

#timer {
  text-align: center;
  color: yellow;
  height: 100px;
  width: 100px;
  font-size: 100px;
  z-index: 2;
}

#starwars {
  color: yellow;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;

div#blank.column-left {
  float: left;
  width: 33%;
}

div#timer.column-right {
  float: right;
  width: 33%;
}

div.column-center {
  display: inline-block;
  width: 33%;
}
