#xwing {
  background-color: black;
  height: 80px;
  position: absolute;
  width: 68px;
  z-index: 1;
}

#explosion {
  background-color: black;
  height: 80px;
  position: absolute;
  width: 68px;
  z-index: 1;
}

img {
    border-radius: 8px;
}

#view {
  background-image: url("../images/star-backdrop.gif");
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  rotation-point:50% 50%;
  rotation:180deg;
}

.wormhole {
  width: 200px;
  height: 20px;
  background-image: url("../images/wormholepulse-200-20.jpg");
  position: absolute;
}


#timer {
  text-align: center;
  color: white;
  background-color: black;
  z-index: 10;

#starwars {
  color: yellow;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;

}
