#racer {
  background-color: white;
  height: 80px;
  position: absolute;
  width: 30px;
}

img {
    border-radius: 8px;
}

#game {
  background-image: url('grass.jpg');
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

.road {
  width: 120px;
  height: 3px;
  background: black;
  position: absolute;
}
